@import "reset";
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700" rel="stylesheet');



nav{
	background: #ffffff;
	
	.contenedor{
		max-width: 900px;
		height: 50px;
		margin: auto;
		padding: 10px;
	}
	a{
		width: 80px;
		height: 25;
	}
	ul{
		float: right;

	}
	& li{
		display: inline-block;
		font-size: 20px;
		padding: 25px;
	}

	& li a:hover{
		color: #45BFB2;
		font-weight: bold;
	}


}